{% extends 'base_dashboard.html'%}
{%block content%}
<div class="container mt -4">
  <h2 class="mb-4">Dashboard Overview </h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm h -100">
        <div class="card-body">
          <h5 class="card-title text-primary">Articles</h5>
          <p class="display-5 fw-bold">{{article_count}}</p>
          <p class ="text-muted mb-0">Total articles published</p>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="col-md-4">
  <div class="card border-0 shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title text-success">Categories</h5>
      <p class="display-5 fw-bold">{{category_count}}</p>
       <p class ="text-muted mb-0">Total Category published</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card border-0 shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title text-success">User</h5>
      <p class="display-5 fw-bold">{{user_count}}</p>
       <p class ="text-muted mb-0">Registered users</p>
    </div>
  </div>
</div>
{% endblock %}